<header>
    <a href="{{ path('home') }}" alt="Meta-Image">
        <h1>Meta-Image</h1>
    </a>
    <nav id="menu">
        <ul>
            <li>
                <a href="{{ path('home') }}">Accueil</a>
            </li>
            <li>
                <a href="">Map (A FAIRE)</a>
            </li>
            <li>
                <a href="{{ path('add') }}">Ajout</a>
            </li>
            <li>
                <a href="{{ path('about') }}">A propos (A FAIRE)</a>
            </li>
        </ul>
    </nav>
</header>

