{% extends 'layout.html.twig' %}

{% block title %}
    A propos - {{ parent() }}
{% endblock %}

{% block main %}
    <h1>A propos</h1>
    <p>Adipisicing commodi soluta at quas ipsam iusto eos cum? Consectetur excepturi et fugiat quis exercitationem iusto obcaecati provident. Vero quaerat quis quo sunt tempora quasi numquam dolorum quos quo. Doloribus reiciendis reprehenderit provident itaque expedita? Neque atque sint eos omnis et illo ipsam. A quos nulla suscipit quibusdam veritatis aspernatur.</p>
{% endblock %}
