{% extends 'layout.html.twig' %}


{% block title %}
    A propos - {{ parent() }}
{% endblock %}

{% block main %}
    <h2>A propos</h2>
    <div id="about">
        <p>
            Meta-Data est un galerie d'images ayant pour but de visualiser et modifier les méta-données de celles-ci. Cette galerie est disponible sur  <a href="https://github.com/Five52/silex-exiftools">GitHub</a>
        </p>
        <p>
            Ce projet a été réalisé lors du Master 2 DNR2i à l'Université de Caen. Le groupe de travail est constitué de :
        </p>
        <ul>
            <li><a href="https://github.com/Five52">Evrard Caron (21411619)</a></li>
            <li><a href="https://github.com/ThomasFortin">Thomas Fortin (21410746)</a></li>
            <li><a href="https://github.com/plabadille">Pierre Labadille (21101555)</a></li>
        </ul>
        <p>
            Les points suivants ont été développés :
        </p>
        <ul>
            <li>
                Page de l'image :
                <ul>
                    <li>affichage de l'image</li>
                    <li>affichage et modification des métadonnées avec exiftool</li>
                    <li>téléchargement de l'image</li>
                    <li>téléchargement du fichier XMP Sidecar</li>
                    <li>métadonnées Microdata, Open Graph et Twitter Cards dans la page de détails</li>
                </ul>
            </li>
            <li>
                Ajout d'une image :
                <ul>
                    <li>ajout d'une image dans la galerie</li>
                    <li>génération des métadonnées et redirection vers la page de détails</li>
                </ul>
            </li>
            <li>
                Page d'accueil :
                <ul>
                    <li>galerie des photos</li>
                    <li></li>
                </ul>
            </li>
        </ul>
    </div>        
{% endblock %}
