<!DOCTYPE html>
<html lang="fr">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title>
    {% block title %}
        Meta-Image
    {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    {% endblock %}
    <link rel="stylesheet" href="{{ root }}css/style.css">
    {# <link rel="stylesheet" href="{{ root }}css/normalize.min.css">
    <link rel="stylesheet" href="{{ root }}css/milligram.min.css"> #}
</head>
<body>
    {% include 'partials/header.html.twig' %}
    <main>
        <div id="haut"></div>
        {% block main %}
            {% for message in app.session.flashbag.get('message') %}
                <div id="flash-message">{{ message }}</div>
            {% endfor %}
        {% endblock %}
    <a href="#haut" title="Haut de page" id="scroll-top">&#8593;</a>
    <a href="#bas" title="Bas de page" id="scroll-bottom">&#8595;</a>
    <div id="bas"></div>
    </main>
    {% include 'partials/footer.html.twig' %}
    {% block javascript %}{% endblock %}
</body>
</html>

