<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
    {% block title %}
        Meta-Image
    {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    {% endblock %}
    <link rel="stylesheet" href="{{ root }}css/style.css">
    {# <link rel="stylesheet" href="{{ root }}css/normalize.min.css">
    <link rel="stylesheet" href="{{ root }}css/milligram.min.css"> #}
</head>
<body>
    {% include 'partials/header.html.twig' %}
    <main>
        {% block main %}
            {% for message in app.session.flashbag.get('message') %}
                <div id="flash-message">{{ message }}</div>
            {% endfor %}
        {% endblock %}
    </main>
    {% block javascript %}{% endblock %}
</body>
</html>

